{% extends "base.html" %} {% load static %} {% block title %}회원가입{% endblock title %} {% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
{% endblock extrahead %} {% block content %}
<div class="signup">
  <h1>회원가입</h1>
  <form method="POST" enctype="multipart/form-data" class="inputs">
    {% csrf_token %}
    <table>
      <tr>
        <td class="td-label">
          <label for="username">아이디 *</label>
        </td>
        <td>
          <input type="text" id="username" name="username" required />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label for="password1">비밀번호 *</label>
        </td>
        <td>
          <input type="password" id="password1" name="password1" required />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label for="password2">비밀번호 확인 *</label>
        </td>
        <td>
          <input type="password" id="password2" name="password2" required />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label for="nickname">닉네임 *</label>
        </td>
        <td>
          <input
            type="text"
            id="nickname"
            name="nickname"
            placeholder="게시물 작성자로 보일 이름입니다."
            required />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label for="email">이메일 *</label>
        </td>
        <td>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="국민대학교 이메일을 입력해주세요."
            required />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label for="student-number">학번</label>
        </td>
        <td>
          <input type="text" id="student-number" name="student-number" />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label for="major">학과</label>
        </td>
        <td>
          <input type="text" id="major" name="major" />
        </td>
      </tr>
    </table>
    <p class="info">*표시는 필수입니다.</p>
    <input
      type="submit"
      class="btn btn-primary"
      id="submitButton"
      value="회원가입하기" />
    <input type="hidden" id="error_message" value="{{ error }}" />
  </form>
  {% if error == "UNIQUE constraint failed: auth_user.username" %}
  <p style="color: red" class="e">{{error}}</p>
  {% endif %}
</div>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
{% endblock %}
