.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup h1 {
  text-align: center;
}
.inputs {
  font-size: 1.5rem;
}
.inputs input {
  width: 400px;
  height: 30px;
  font-size: 1.5rem;
}
.inputs #email::placeholder,
.inputs #nickname::placeholder {
  color: #bbbbbb;
}
.inputs input::placeholder {
  transform: scale(0.8) translateX(-11%);
}
.info {
  color: #999999;
  text-align: center;
  margin: 5px;
  font-size: 1.2rem;
}
.inputs input[type="submit"] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 40px;
  margin-top: 20px;
  font-size: 1.5rem;
}
table tr {
  margin: 10px;
}
@media (max-width: 600px) {
  label {
    display: inline-block;
    width: 24vw;
    margin: 0;
    font-size: 1rem;
  }
  .inputs input {
    display: inline-block;
    width: 50vw;
    height: 27px;
    font-size: 1rem;
  }
  body {
    margin: 0;
  }
  .signup {
    top: 30%;
    left: 50%;
  }
  #submitButton {
    width: 30vw;
    height: 30px;
    font-size: 1rem;
  }
}
